---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body { font-family: 'Source Sans Pro', sans-serif; }
.site-title { font-weight: bold; font-size: 3em; padding: 0.5em 0; }
